 /* #2c2e3c
#01b58f; text
#20232f */ 
*{
    scroll-behavior: smooth;
}
.txt-white{
    color: white !important;
}
body{
    margin: 0;
    padding: 0;
    background: #2c2e3c;
    color: #01b58f;
    font-family: 'Passion One', cursive;
    box-sizing: border-box;
}
/* -----------header------------ */
header{
    width: 100vw;
    background: #20232f;
    height: 4rem;
    width: 100vw;
    z-index: 9999;
    border-bottom: 1px solid #353844;
    transform: translateY(0%);
    animation: nav 0.5s ease-in forwards;
}
@keyframes nav {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
#logo-link{
    text-decoration: none;
    color: #01b58f;
}
.header-logo{
    animation: opacity 1s ease-in 0.5s forwards;
    opacity: 0;
}
#menu-ul{
    animation:opacity 1s ease-in 0.5s forwards;
    opacity: 0;
}
@keyframes opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.header-nav{
    height: 100%;
}
.nav li a{
    color: #01b58f;
    transition: all 0.3s 0s ease-in;
}
.nav li a:hover{
    color: #ffffff;
    font-size:x-large;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}
.nav-button{
    color: #01b58f;
    background: #20232f;
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    border:1px solid #01b58f;
    position: absolute;
    right: 2%;
    top:7px;
    display: none;
}
.sec1-home{
    padding-top: 4rem;
    height: 100vh;
    width: 100vw;
}

/* ----------home pic----------- */
.home-pic{
    display: grid;
    height: 100%;
    grid-gap: 5px;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(4,25%);
    animation: content-float-right 1s ease-in 0.5s forwards;
    opacity: 0;
    transform: translateY(0%) translateX(0%);
}
@keyframes content-float-right {
    0%{
        opacity: 0;
        transform: translateY(-3%) translateX(3%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%) translateX(0%);
    }
}
.h-pic{
    grid-column: 2/9;
    grid-row: 1/5;
    z-index: 10;
    display: flex;
    justify-content: center;
}
.h-pic img{
    max-width: 100%;
    max-height: 100vw;
}
.h-blue{
    grid-column: 2/9;
    grid-row: 1/4;
    z-index: 9;
    display: flex;
    justify-content: center;
}
 .h-blue img{
    max-width: 100%;
    max-height: 100vw;
    transition: all 0.3s 0s ease-in;
} 
.home-pic:hover .h-blue img{
    transform: scale(1.1,1.1);
    transition: all 0.4s 0s ease-in;
}
/* -----------------home details-------------------- */

.home-details{
    background: #2c2e3c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1em;
    padding:4em 0;
    height: 100vh;
}
.home-intro{
    animation: content-float-left 1s ease-in 0.5s forwards;
    opacity: 0;
    transform: translateY(0%);
    transform: translateX(0%);
    padding: 0 10%;
}
@keyframes content-float-left {
    0%{
        opacity: 0;
        transform: translateY(-5%) translateX(-5%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%) translateX(0%);
    }
}
.home-btn button{
    width: 100%;
    background: #01b58f;
    width: 6em;
    height: 2em;
    margin-bottom: 1em;
    border: none;
    border-radius: 5px;
    color: white;
    transition: all 0.5s 0s ease-out;
    position: relative;
    top: 0;
    right: 0;
}
.home-btn button:hover{
    top:-1px;
    right: 1px;
    background: #03b28c;
}
.home-links{
    margin-top: 1em;
}
.home-links i{
    margin-right: 10px;
    transition: all 0.3s 0s ease-out;
}
.home-links i:hover,.ft-logo i:hover{
    transform: scale(1.5,1.5);
    color: #0effcb !important;
}
/* --------sec2-about-------------- */
.sec2-about{
    height: 100vh;
}
.about-pic{
    background: #20232f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img-headc{
    padding: 15%;
    height: 90%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 2s 0s ease-in;
    animation: 1.5s ease-in 0.2s forwards;
    opacity: 0;
    transform: translateY(0%);
    transform: translateX(0%);
}
.img-det-card{
    align-self: center;
    text-align:left;
    display: inline;
    border: 1px solid transparent;
    border-radius: 15%;
    z-index: 1;
    padding: 0 5%;
    width: fit-content;
    height:fit-content;
    padding-left: 5%;
    transition: all 0.4s 0s linear;
}
.trans{
    color: transparent;
}
.p-w{
    color: transparent;
}
.p-b{
    color: transparent;
}
.home-img-cont{
    width: 16vw;
    height: 18vw;
    border-radius:50%;
    overflow: hidden;
    background: #2c2e3c;
    border: 1px solid #01b58f;
    box-shadow: 0px 0px 5px 2px #01b58f;
    z-index: 2;
    transition: all 0.4s 0s linear;
    position: relative;
    top:0%;
}
.home-img-headc:hover .home-img-cont{
    border: 10px solid #20232f;
    box-shadow: 0px 0px 0px 0px #01b58f;
    width: 10vw;
    height: 12vw;
    position: relative;
    top:4%;
}
.home-img-headc:hover .img-det-card{
    background: #2c2e3c;
    color: rgb(0, 0, 0);
}
.home-img-headc:hover .img-det-card p .p-w{
    color: white;
}
.home-img-headc:hover .img-det-card p .p-b{
    color: rgb(32, 237, 189);
}
.txt-black{
    color: rgb(0, 0, 0);
}
.home-img-cont img{
    width: 100%;
    height: 100%;
}




.about-details{
    background: #20232f;
    display: flex;
    justify-content: center; 
    align-items: center;

}
.abt-intro{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    animation: 1.5s ease-in 0.2s forwards;
    opacity: 0;
    transform: translateY(0%) translateX(0%);
}
.abt-btn button{
    width: 100%;
    background: #01b58f;
    width: 6em;
    height: 2em;
    margin: 1em 0;
    border: none;
    border-radius: 5px;
    color: white;
    transition: all 0.1s 0s ease-out;
}
.abt-btn button:hover{
    transform: scale(1.1,1.1);
    outline:1px solid white;
    outline-offset: 2px;
    background: #03b28c;
}




/* =------------------sec3-skill-------------------- */

.sec3-skills{
    background: #2c2e3c;
    height: 110vh;
    padding-top: 4em;
}
.skills-heading{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-cardset{
    height: 80%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 1em;
}
.skill-card{
    grid-column: span 2;
    height: 15em; 
    background: #20232f ;
    border-radius: 7%;
    color: #20232f;
    position: relative;
    top: 0;
    transition: all 0.2s 0s linear ;
}

.sk1 ,.sk4{
    grid-column: 2/4;
}
.skill-card-logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #55eecd;
}
.skill-card-logo i{
    padding-bottom: 10%;
}
.skill-card:hover{
    position: relative;
    top: -2%;
    /* outline: 2px solid #126555 !important; */
    box-shadow: 0px 0px 10px 0px #7881a5;
}

/* .cd-hover{
    position: relative;
    top: -25%;
    left: 30%;
}
.cd-hover button{
    background: inherit;
    border: none;
    border-radius: 20px;
    width: 40%;
    height:fit-content;
    min-height: 40px;
    background: transparent;
    color: transparent;
} */

/* .skill-card-logo img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    transition: all 0.3s 0s ease-in;
} */
/* .skill-card:hover .skill-card-logo img{
     opacity: 0.5;
} */
/* .skill-card:hover .cd-hover button{
    background: inherit;
    border: 1 px solid rgb(192, 188, 188);
    background: #2c2e3c;
    color: rgb(255, 255, 255);
    transition: all 0.1s 0s ease-in;
} */
/* .skill-card:hover .cd-hover button:hover{
    border: 1px solid black;
    transform: scale(0.9,0.9);
    transition: all 0.2s 0s ease-in;
}
.skill-card:hover .cd-hover{
    top: -35%;
    transition: all 0.2s 0s ease-in;
} */
/* ---------projects-------- */

.sec4-projects{
    padding-top: 4em;
    background: #20232f;
    height: 100vh;
}
.projects-heading{
    height: fit-content;
    text-align: center;
}
.pc-container{
    border-top: 2px solid #5e5e5e;
    border-bottom: 2px solid #5e5e5e;
    height: 82%;
    width: 80%;
    padding: 1% 0;
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    margin-left: 10%;
    overscroll-behavior-inline: contain;
}
::-webkit-scrollbar{
    width: 0;
}
.project-card{
    border: 1px solid #01b58f;
    border-radius: 10px;
    width: 25em;
    background: #20232f;
    height: 100%;
    margin:0 2em;
    position: relative;
    top: 0;
    transition: all 0.1s 0s linear;
}
.project-card:hover{
    box-shadow: 0px 0px 10px 1px #2c2e3c;
    top: -1px;
}
.pc-img{
    height: 50%;
    background: black;
    object-fit: cover;
    border-radius: 10px;
}
.pc-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.2s 0s ease-in;
}
.pc-img:hover img{
    opacity: 0.8;
}
.pc-img:hover .pc-hover{
    transition: all 0.5s 0s ease-in;
    display: flex;
    opacity: 0.5;
}
.pc-date{
    padding: 3%;
}
.date{
    padding-left: 3%;
    color: white;
    font-style: italic;
}
.pc-details{
    color: rgb(160, 155, 155);
    padding: 0 3%;
}
.pc-details h1{
    font-size: 2rem;
    text-decoration:underline;
}
.pc-hover{
    opacity: 0;
    position: relative;
    background: #000;
    top: -90%;
    display: flex;
    flex-direction: column;
    display: none;
}
/* -------------------cv------------------------- */
.sec5-cv{
    margin-top: 5%;
    padding-top: 15%;
    height: 50vh;
    background: #20232f;
    display: flex;
    justify-content: center;
}
.cv-img{
    width: 14%;
    height: 60%;
    border-radius: 80%;
    overflow: hidden;
    z-index: 1; 
}
.cv-img-contain{
    display: flex;
    justify-content: center;
    margin-top: -18%;
}
.cv-img img{
    width: 100%;
    height: 100%;
}
.cv-btn{
    border: 1px solid rgb(255, 254, 254);
    width: 50%;
    height: fit-content;
    padding-top:5% ;
    text-align: center;
    border-radius: 3em;
    background: #20232f;
    margin-top: -12%;
}
.cv-btn button{
    background: #0effcb;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 10em;
    height: 2em;
    border: none;
    transition: all 0.3s 0s ease-in;
}
.cv-btn button:hover{
    width: 15em;
    transform: scale(1.1,1.1);
}


/* --------------------------iframe------------------- */
.sec6-0{
    padding-top: 3%;
    text-align: center;
    background: #2c2e3c;
}
.sec6-iframe{
    background: #2c2e3c;
    z-index: 1;
    height: 100vh;
    padding-top: 4em;
    margin-bottom: 4em;
}
.lap-img{
    width: 100%;
    height: 100%;
    padding: 0 5%;
}
.lap-img img{
    width: 100%;
    height: 100%;
}
.frame{
    position: relative;
    bottom: 95%;
    padding: 0 14%;
    height: 75%;
}
/* ------------contact--------------- */
.sec7-contact{
    height: 100vh;
    background: #2c2e3c;
}
.cross-cut{
    height: 0;
    border: 50vw solid #2c2e3c;
    border-bottom: 0;
    border-top: 100px solid #20232f;
}
.contact-heading{
    width: 100%;
    text-align: center;
    padding-top: 5%;
}
.contact-form{
text-align: center;
padding: 4% 0;
}
.contact-form input{
    padding: 5px;
    border-radius: 8px;
    margin: 1% 1%;
    width: 25%;
    height: 40px;
}
.contact-form textarea{
    padding: 5px;
    border-radius: 15px;
    width: 52%;
}
.contact-form textarea,.contact-form input{
    border: 1px solid #2f3348;
    background: #252836;
    color: white;
}
.ft-btn{
    background: #01b58f;
    margin-top: 1%;
    width: 7rem;
    padding: 0;
    height: 2rem;
    transition: all 0.1s 0s ease-out;
    border: none;
    border-radius: 7px;
}
.ft-btn:hover{
    transform: scale(1.1,1.1);
    outline:1px solid rgb(0, 0, 0);
    outline-offset: 2px;
    background: #03b28c;
}

.footer{
    background:#20232f;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}
.ft-logo{
    width: 50%;
    text-align: center;
}
.ft-logo i{
    margin: 2%;
    transition: all 0.3s 0s ease-out;
}

/* ---xl-- */
@media all and (max-width:1200px){

    .cv-btn{
        margin-top: -14%;
    }
}
/* ------lg----- */
@media all and (max-width:991px){

    .header{
        border-bottom: 0;
    }
    .nav-button{
        display: inline;
    }
    .header-nav ul{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background: #20232f;
        border-bottom-left-radius: 10px;
        padding-right: 2vw;
        width: 35vw;
        float: right;
        position: relative;
        right: -10px;
        top:-21px;
        min-height: fit-content;
    }
    .header-nav ul li{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: relative;
        top:-46%;
        border-bottom-left-radius: 10px;
    }
    .nav-link{
        margin-bottom: 0px;
        border-top: 1px solid #2e2c3e;
    }
    .nav-link:hover,.nav-link:focus{
        color: white;
        border: 1px solid rgb(101, 101, 101);
        border-bottom-left-radius: 10px;
    }

/* ---------------------done------------------ */
    .sec1-home{
        padding-top: 4rem;
        height: 75vh;
        width: 100vw;
    }
    .home-details{
        height:100%;
    }
    .home-pic{
        height: 100%;
    }
    .h-pic{
        grid-column: 1/9;
    }
    .h-blue{
        grid-column: 1/9;
    }

/* ---------------------done------------------ */

.sec2-about{
    height: 75vh;
}
.img-det-card{
    min-width: 120%;
    width: fit-content;
    height:fit-content;
}

/* ----------------done------------- */

    .img-det-card{
        align-self: center;
        text-align:left;
        width: 80%;
    }
    .sec3-skills{
        height: 150vh;
    }
    .skills-heading{
        height: 10%;
    }
    .skill-cardset{
        height: 90%;
        grid-template-rows: repeat(3,1fr);
    }
    .skill-card{
        border: 2px solid #01b58f;
        grid-column: span 3;
        height: 15em; 
    }
    .sk1,.sk3,.sk5{
        grid-column: 2/5;
    }
/* ------------------------done------------- */
    .cv-btn{
        margin-top: -16%;
    }
    .goto-top{
        bottom: -624%;
    }
}
/* ------md----- */
@media all and (max-width:768px){

/* ---------------------done------------------ */
.sec1-home{
    padding-top: 4rem;
    height: 100vh;
    width: 100vw;
}
.home-details{
    height:50%;
    width: 100vw;
}
.home-pic{
    height: 50%;
    width: 100vw;
}

/* ---------------------done------------------ */

.sec2-about{
    padding-top: 4rem;
    height: 100vh;
}
.about-pic{
    height: 50%;
}
.home-img-headc{
    padding: 5%;
    flex-direction: row;
}
.img-det-card{
    min-width: 40%;
    width: fit-content;
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-img-cont{
    width: 24vw;
    height: 24vw;
}
.home-img-headc:hover .home-img-cont{
    border: 10px solid #20232f;
    width: 20vw;
    height: 20vw;
    top: 0;
    left: 3%;
}
.about-details{
    height: 50%;

}
.abt-intro{
    width: 90%;
}

    .sec3-skills{
        height: 300vh;
    }
    .skills-heading{
        height: 5%;
    }
    .skill-cardset{
        height: 95%;
        grid-template-rows: repeat(6,1fr);
        grid-row-gap:1vw;
        grid-column-gap:1vw;
    }
    .skill-card{
        border: 2px solid black;
        grid-column: 3/7;
    }
    .project-card{
        width: 15rem;
        height: 80%;
        font-size: 0.8rem;
        margin-top: 10%;
    }
    .cv-btn{
        width: 70%;
        margin-top: -20%;
    }
    .footer{
        flex-wrap: wrap;
    }
    .ft-cr{
         width: 100%;
         text-align: center;
    }
    .goto-top{
        bottom: -900%;
    }
}
/* ------sm----- */
@media all and (max-width:576px){

    .header-logo{
        width: 100%;
    }

    .home-intro{
        font-size: 0.5rem;
    }
    /* ---------------------done------------------ */

    .sec2-about{
        padding-top: 4rem;
        height: 100vh;
    }
    .about-pic{
        height: 50%;
        padding: 0;
    }
    .home-img-headc{
        padding: 2%;
    }
    .img-det-card{
        height:100%;
    }
    .img-det-card p{
        line-height: 90%;
        font-size: 0.8rem;
    }
    .home-img-cont{
        border: 5px solid #01b58f;
    }
    .home-img-headc:hover .home-img-cont{
        border: 5px solid #20232f;
    }
    .about-details{
        height: 50%;
    }
    .abt-intro{
        width: 90%;
        line-height: 90%;
        font-size: 0.8rem;
    }
/* --------------done-------------------- */
.skill-cardset{
    height: 95%;
    grid-template-columns: repeat(12,1fr);
    grid-row-gap:5px;
    grid-column-gap:5px;
    grid-gap: 0;
}
.skill-card{
    border: 2px solid #01b58f;
    grid-column: 3/11;
}
.project-card{
    width: 15rem;
    height: 85%;
}
.sec4-projects{
height: 100vh;
}
.pc-container{
    height: 85%;
    width: 92%;
    padding: 1% 0;
    margin-left: 4%;
}

    .cv-img-contain{
    margin-top: -10%;
}
.cv-img{
    width: 35%;
    height: 70%; 
}
.cv-btn{
    padding-top:14% ;
}
.cv-heading{
    font-size: 5vw;
}
.cv-img{
    margin-top: 5%;
}
.cv-btn button{
    width: 18vw;
    font-size: 3vw;
}
.contact-heading{
    padding-top: 10%;
}
.contact-form input{
    background: #1f1f2c;
    width: 80%;
}
.contact-form textarea{
    background: #1f1f2c;
    width: 80%;
}
}
